.wk-footer {
  background-color: #1f2a44;
  color: #fff;
  font-family: "Helvetica", arial, serif;
  margin-top: 6rem;
  padding: 6rem 0;
  &__title {
    color: inherit;
    font-size: 3rem;
    margin-bottom: 2.1rem;
    padding: 0;
  }
  &__column {
    font-size: 1.5rem;
    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__icons {
    margin-bottom: 2.1rem;
    svg {
      fill: #fff;
      height: 2.5rem;
      margin-right: 1rem;
      width: 2.5rem;
      path {
        fill: #fff;
      }
    }
  }
}
